server:
  port: 9000

spring:
  profiles:
    active: ${ENC:dev}
logging:
  level:
    web: trace

jwt:
  expire-time: 168
  secret: lioooo
mybatis-plus:
  global-config:
    db-config:
      logic-delete-value: NOW()
      logic-not-delete-value: 'NULL'
---
person:
  name: prod-liooooo

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      jedis:
        pool:
          max-idle: 16
          max-active: 32
          min-idle: 8
---
person:
  name: dev-liooooo

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: dev
    password: dev
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 1
      jedis:
        pool:
          max-idle: 16
          max-active: 32
          min-idle: 8
---
person:
  name: test-liooooo

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: test
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 1
      jedis:
        pool:
          max-idle: 16
          max-active: 32
          min-idle: 8
