server:
  port: 9000

spring:
  profiles:
    active: ${ENC:dev}

jwt:
  expire-time: 168
  secret: lioooo

---
person:
  name: prod-liooooo

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
---
person:
  name: dev-liooooo

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: dev
    password: dev
    driver-class-name: com.mysql.cj.jdbc.Driver
---
person:
  name: test-liooooo

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: test
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
